<!DOCTYPE html>
<html lang="en">
<head>

      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News Articles on Crypto</title>
</head>
<body>
    
    <div>

    <h1>
        Crypto News of the Day
    </h1>

    <form>
        <input type="hidden" method="GET" action="/request">
    

    </form>
    
    <span data-th-text="${id}">Article id</span>

    <div data-th-text="${title}">Title</div>




    <button type="button">Save</button>

    </div>
</body>
</html>